a {
	text-decoration: none;
	color: #0F0000;	
	
}

a:hover {
	color: #FF9300;
}

.Button {
	text-align: center;	
	font-size: 15px;
	margin: 10px 10px;
	border: 1px solid #0F0F0F;
	border-radius: 5px;	
	background-color: #FFDC00;
}