.red-text {
	color: #FF0000;
}

.green-text {
	color: #007A00;
}

.blue-text {
	color: #00007A;
}

.orange-text {
	color: #FFAE00;
}

.violet-text {
	color: #AE00FF;
}

.link-text {
	color: #FF0000;
}